.language-selector {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.language-selector-caption {
  margin-right: auto;
}

.language-selector-dropdown {
  margin-left: 1rem;
}

.language-selector-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  width: 2rem;
}

.language-selector-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.language-selector-item-flag {
  margin-right: 0.5rem;
  width: 1.5rem;
}

.language-selector-option {
  padding: 1rem
}