@import '../../assets/css/button.css';
@import '../../assets/css/icon.css';

.builds-import-buttons {
  display: flex;
  width: 100%;
}

.builds-import-cancel-button {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.builds-import-file-selection {
  display: flex;
}

.builds-import-file-selection-button {
  margin: auto;
}
