@import '../../assets/css/currency.css';
@import '../../assets/css/icon.css';

.price {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  white-space: nowrap;
}

.price-value {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  white-space: nowrap;
}

.price-details {
  font-size: 0.85rem;
}

.price-details > div {
  margin-top: 0.25rem;
}

.price-details :first-child {
  margin-top: 0;
}

.price-details-barter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.price-details-barter-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 0.25rem;
}

.price-details-barter-item-icon {
  display: flex;
  justify-content: center;
  margin-left: 0.25rem;
  width: 4.5rem;
}

.price-details-barter-item-name {
  margin-left: 0.25rem;
  margin-right: auto;
  max-width: 16.5rem;
}

.price-details-barter-item-quantity {
  text-align: right;
  width: 4rem;
}

.price-details-barter-item-price {
  justify-content: flex-end;
  width: 10rem;
}

.price-details-barter-item-price-per-unit {
  font-size: 0.75rem;
  margin-right: 2.6rem;
}

.price-details-barter-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.price-details-main-currency {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.price-details-main-currency-value {
  margin-left: 0.25rem;
}

.price-details-quest {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.price-details-quest {
  margin-right: 0.25rem;
}

.price-merchant-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 0.5rem;
  width: 2rem;
}

.price-merchant-icon > img {
  border-color: var(--util-color);
  border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  width: 2rem;
}

.price-merchant-barter-icon {
  color: var(--text-color);
  font-size: 0.85rem;
  position: relative;
  right: 3.5rem;
  text-align: center;
  top: 0.85rem;
}

.price-merchant-barter-icon > div {
  height: 1rem;
  width: 1rem;
}

.price-merchant-level {
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--text-color);
  font-size: 0.85rem;
  position: relative;
  right: 0.5rem;
  text-align: center;
  top: 0.9rem;
}

.price-merchant-level > div {
  height: 1rem;
  position: relative;
  text-align: center;
  top: -0.075rem;
  width: 1rem;
}

.price-merchant-quest-icon {
  color: var(--text-color);
  font-size: 0.85rem;
  position: relative;
  right: 2.50rem;
  text-align: center;
  top: -0.9rem;
}

.price-merchant-quest-icon > div {
  height: 1rem;
  width: 1rem;
}

.price-quest-icon {
  color: var(--warning-color);
}

.price-value-with-details:hover {
  color: var(--primary-color);
  cursor: pointer;
}