@import '../../assets/css/currency.css';
@import '../../assets/css/icon.css';

.price {
  display: flex;
  flex-direction: column;
  padding: 0.25rem
}

.price-value {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  white-space: nowrap;
}

.price-details {
  font-size: 0.85rem;
}

.price-details > div {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.price-details-main-currency-value {
  margin-left: 0.25rem;
}

.price-details-merchant-level {
  margin-left: 0.25rem;
}

.price-details-quest-icon {
  color: var(--warning-color);
}

.price-details-quest-link {
  margin-left: 0.25rem;
}

.price-merchant-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 0.5rem;
  width: 2rem;
}

.price-merchant-icon > img {
  border-color: var(--util-color);
  border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  width: 2rem;
}

.price-with-details:hover {
  background-color: var(--background-color5);
  border-radius: 3px;
  cursor: pointer;
}