.mod-slot {
  margin-top: 0.5rem;
  margin-left: 3.125rem;
}

.mod-slot-required-ok {
  color: var(--success-color);
}

.mod-slot-required-nok {
  color: var(--error-color);
}

.mod-slot-slot-name {
  margin-bottom: 0.25rem;
}