.placeholder {
  height: 3.625rem;
  padding: 1.25rem;
}

.placeholder-text {
  color: var(--util-color7);
  margin-left: 1rem;
}

.placeholder-icon {
  color: var(--success-color);
}

.selected-item {
  align-items: center;
  display: flex;
  padding-right: 1rem;
}

.selected-item-icon {
  border-radius: 3px;
  margin-right: 1rem;
  max-width: 9.375rem;
  max-height: 3.125rem;
}

.selected-item-icon-border {
  border-color: var(--util-color);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}

.selected-item-name {
  margin-left: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
