@import '../../css/button.css';
@import '../../css/icon.css';

.builds {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 3rem;
  width: 100%;
}

.builds-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  height: 3.5rem;
  justify-content: center;
}

.builds-loading {
  margin-bottom: auto;
  margin-top: auto;
}

.builds-toolbar-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: auto;
}