@import '../../../css/option.css';

.header {
  border-bottom-color: var(--util-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 1rem;
}

.filter-input {
  margin-right: 0.5rem;
  width: 100%;
}

.option-caption {
  display: flex;
  justify-content: flex-end;
}

.item-option-icon-placeholder {
  width: 5.525rem;
  /* Width of the longest weapons displayed in summaries */
}

.item-option-longest-header-width-placeholder {
  width: 41.25rem;
  /* Ammunition options header width : 5 * 6rem of value + 11.25rem of penetrations  */
}