@import '../../css/button.css';
@import '../../css/icon.css';
@import '../../css/sidebar.css';

.merchant-items-options-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}