@import '../../../assets/css/icon.css';
@import '../../../assets/css/option.css';
@import '../../../assets/css/stats.css';

.armor-placeholder {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  width: 11rem; /* 3 values of 5rem + 3 margins of 1rem */
}
