@import '../../assets/css/link.css';

#app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  min-height: 100%;
  padding: 1rem;
}

html {
  letter-spacing: 0.25px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--surface-0);
  color: var(--text-color);
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 1rem;
}

.app-footer-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.app-footer-element {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
}

.app-footer-element-icon {
  margin-right: 0.5rem;
}

.app-loading {
  margin-top: 3rem;
}

.app-tarkov-market-disclaimer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.85rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.app-tarkov-market-disclaimer > span {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.app-tarkov-market-disclaimer > span > a {
  margin-left: 0.25rem;
}

.app-tarkov-market-disclaimer-patreon-icon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: 1.5rem;
}

.app-tarkov-market-disclaimer-patreon-link {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.app-title {
  display: flex;
  font-family: var(--font-title);
  justify-content: center;
}

.app-title > h1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-title-part1 {
  margin-left: 1rem;
  text-align: right;
}

.app-title-part2 {
  color: var(--error-color);
  margin-left: 1rem;
}

.app-title-prapor {
  width: 5rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 2px; /* Required for Chrome, otherwise letters are overlapping */
  line-height: 3rem; /* Required for Chrome and Firefox to have the same behaviour */
}

.p-button {
  min-width: initial !important;
}

.p-tooltip {
  z-index: 999;
}
