@import '../../css/link.css';


html {
  font-size: 14px;
  height: 100%;
  letter-spacing: 0.25px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--surface-0);
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 1rem;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-family: var(--font-main);
  height: 100%;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 137rem;
  padding: 1rem;
  width: 100%;
}

.app-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.app-footer-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.app-footer-element {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  text-align: center;
}

.app-footer-element-icon {
  margin-right: 0.5rem;
}

.app-api-disclaimer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.85rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.app-api-disclaimer > span {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.app-api-disclaimer > span > a {
  margin-left: 0.25rem;
}

.app-title {
  display: flex;
  font-family: var(--font-title);
  justify-content: center;
}

.app-title > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.app-title > div > h1 {
  font-size: 2.475rem;
}

.app-title-part1 {
  margin-left: 1rem;
  font-style: italic;
}

.app-title-part2 {
  color: var(--error-color);
  margin-left: 1rem;
}

.app-title-prapor {
  height: 5rem;
  width: 5rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
  letter-spacing: 2px;
  /* Required for Chrome, otherwise letters are overlapping */
  line-height: 3rem;
  /* Required for Chrome and Firefox to have the same behaviour */
}

.p-button {
  min-width: initial !important;
}

.p-tooltip {
  z-index: 999;
}