.armor-penetration0 {
  color: rgb(255, 25, 25);
}

.armor-penetration1 {
  color: rgb(255, 125, 125);
}

.armor-penetration2 {
  color: rgb(255, 125, 0);
}

.armor-penetration3 {
  color: rgb(255, 175, 50);
}

.armor-penetration4 {
  color: rgb(255, 225, 100);
}

.armor-penetration5 {
  color: rgb(150, 200, 150);
}

.armor-penetration6 {
  color: rgb(75, 200, 75);
}