.custom-icon {
  height: 1rem;
  width: 1rem;
}

.custom-icon-after-text {
  align-items: center;
  display: flex;
}

.custom-icon-after-text > img {
  height: 1rem;
  margin-left: 0.25rem;
  width: 1rem;
}

.custom-icon-before-text {
  align-items: center;
  display: flex;
}

.custom-icon-before-text > img {
  min-height: 1rem;
  margin-right: 0.25rem;
  min-width: 1rem;
}

.icon-after-text {
  min-height: 1rem;
  margin-left: 0.25rem;
  min-width: 1rem;
}

.icon-before-text {
  min-height: 1rem;
  margin-right: 0.25rem;
  min-width: 1rem;
}
