.custom-icon {
  width: 1rem;
}

.custom-icon-after-text {
  align-items: center;
  display: flex;
}

.custom-icon-after-text > img {
  margin-left: 0.25rem;
  width: 1rem;
}

.custom-icon-before-text {
  align-items: center;
  display: flex;
}

.custom-icon-before-text > img {
  margin-right: 0.25rem;
  width: 1rem;
}

.icon-after-text {
  margin-left: 0.25rem;
}

.icon-before-text {
  margin-right: 0.25rem;
}
