.option-caption {
  width: 12.5rem;
  white-space: normal;
}

.option-entry {
  margin-right: 1rem;
}

.option-entry:last-child {
  margin-right: 0;
}

.option-line {
  align-items: center;
  display: flex;
  width: 100%;
}

.option-value {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  white-space: normal;
  width: 5rem;
}

.option-value-long {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  white-space: normal;
  width: 7rem;
}

.option-value-long > div {
  width: 100%;
}
