.item-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}

.item-icon > img {
  border-color: var(--util-color);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  max-height: 3.125rem;
  max-width: 9.375rem;
}

.item-icon-quantity {
  bottom: 1px;
  font-size: 0.875rem;
  height: 1rem;
  position: absolute;
  right: 3px;
  text-align: end;
  text-shadow: black 1px 1px;
  width: 2rem;
}