@import '../../../assets/css/icon.css';
@import '../../../assets/css/option.css';

.selected-item-summary {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.selected-item-summary-price-ignored-price-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 2rem;
}

.selected-item-summary-price-missing-price-icon {
  align-items: center;
  color: var(--error-color);
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0.075rem;
  width: 2rem;
}

.selected-item-summary-price-per-unit {
  font-size: 0.75rem;
  margin-right: 2.3rem; /* Alignment with the item total price */
}

.selected-item-summary-right {
  align-items: end;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.selected-item-summary-right-price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.selected-item-summary-right-unit-price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.selected-item-summary-weight {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  margin-left: 1.5rem; /* Alignment with the inventory slot price */
  margin-right: 0.2rem; /* Alignment with the inventory slot weight */
  width: 7rem;
}

.selected-item-summary-weight .icon-after-text {
  margin-left: 0.4rem; /* Alignment with the inventory slot weight */
}

.selected-item-summary-weight-per-unit {
  font-size: 0.75rem;
  margin-right: 0.3rem; /* Alignment with the item total weight */
}

.selected-item-summary-weight-per-unit .icon-after-text {
  margin-left: 0.5rem; /* Alignment with the item total weight */
  min-height: auto;
  min-width: auto;
}
