.item {
  margin-bottom: 0.5rem;
}

.item:last-child {
  margin-bottom: 0;
}

.item-base-item {
  margin-left: 3.125rem;
  margin-top: 0.25rem;
}

.item-clear-button {
  align-items: center;
  color: var(--error-color);
  display: flex;
  justify-content: center;
  width: 2.375rem;
}

.item-dropdown {
  width: 25rem;
}

.item-dropdown-empty {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: center;
}

.item-dropdown-option {
  align-items: center;
  display: flex;
  height: 4rem;
  /* Matches the 60px set in the virtual scroller options */
  margin-left: 1rem;
}

.item-selection {
  display: flex;
  flex-direction: row;
  height: 3.25rem;
}

.item-quantity {
  width: 11rem;
}