.item {
  margin-bottom: 0.25rem;
}

.item:last-child {
  margin-bottom: 0;
}

.item-dropdown {
  width: 25rem;
}

.item-dropdown-option {
  padding-bottom: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.125rem;
}

.item-selection {
  display: flex;
  flex-direction: row;
}

.item-quantity {
  width: 11rem;
}

.item-tab-hidden {
  display: none;
}
