.item-selection-dropdown > .p-dropdown {
  height: 3.25rem;
}

.item-selection-dropdown .placeholder {
  padding: 1rem;
}

.item-selection-dropdown > .p-disabled {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.1);
}

.item-selection-dropdown > .p-disabled > .p-dropdown-trigger {
  opacity: 0.38;
}

.item-selection-dropdown > .p-dropdown > .p-dropdown-label {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.item-selection-dropdown > .p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding-right: 0;
}

.p-dropdown-panel > .p-dropdown-items-wrapper > .p-virtualscroller > .p-dropdown-items > .p-dropdown-item {
  padding: 0;
}