@import '../../css/button.css';
@import '../../css/icon.css';
@import '../../css/sidebar.css';

.general-options-addition-group {
  margin-top: 3rem;
}

.general-options-cookies {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 3.5rem;
}

.general-options-disabled-text {
  color: var(--util-color5);
}

.general-options-name {
  cursor: pointer;
}