@import '../../css/icon.css';
@import '../../css/stats.css';

.builds-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.builds-list-card {
  overflow: hidden;
  width: 100%;
}

.builds-list-card-buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: auto;
}

.builds-list-card-buttons-edit {
  align-items: center;
  display: flex;
  justify-content: center;
}

.builds-list-card-items {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  overflow-x: auto;
  width: 100%;
}

.builds-list-card-stats {
  align-items: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
}

.builds-list-card-price {
  grid-column: span 2;
}

.builds-list-card-title {
  display: flex;
  font-size: 1.25rem;
}

.builds-list-card-title > div {
  margin-right: auto;
}

.builds-list-not-exported {
  color: var(--warning-color);
  margin-left: 0.5rem;
}

/* Smartphone in portrait */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .builds-list {
    grid-template-columns: 1fr;
  }
}

/* Smartphone in landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .builds-list {
    grid-template-columns: 1fr;
  }
}

/* Tablet in portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .builds-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet in landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* PC */
@media only screen and (min-width: 1200px) {}