@import '../../assets/css/icon.css';
@import '../../assets/css/stats.css';

.build-list-column {
  text-align: right;
  width: 100%;
}

.build-list-column-merchants {
  min-width: 8rem;
}

.build-list-column-name {
  min-width: 15rem;
}

.build-list-not-exported {
  color: var(--warning-color);
}
