@import '../../assets/css/icon.css';
@import '../../assets/css/stats.css';

.build-list-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  text-align: right;
  width: 100%;
}

.build-list-not-exported {
  color: var(--warning-color);
}
