@import '../../css/button.css';
@import '../../css/icon.css';

.selected-item-functionalities {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 4rem;
}

.selected-item-functionalities-count-chip {
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--text-color);
  font-size: 0.8rem;
  height: 1rem;
  position: absolute;
  text-align: center;
  transform: translate(0.875rem, 1.25rem);
  width: 1rem;
}

.selected-item-functionalities > div {
  display: flex;
  justify-content: center;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  width: 2.5rem;
}