@import '../../assets/css/button.css';
@import '../../assets/css/icon.css';

.selected-item-functionalities-button {
  display: flex;
  justify-content: center;
  margin-left: 0.25rem;
  margin-right: 2rem;
}

.selected-item-functionalities-panel-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.selected-item-functionalities-panel-item:hover {
  background: var(--util-color2);
  border-radius: 3px;
  cursor: pointer;
}

.selected-item-functionalities-panel-item:last-child {
  margin-bottom: 0;
}

.selected-item-functionalities-panel-item-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-right: 0.5rem;
  width: 1.5rem;
}

.selected-item-functionalities-panel-ignore-price {
  cursor: initial !important;
}

.selected-item-functionalities-panel-ignore-price-text {
  cursor: pointer;
}
