@import '../../assets/css/button.css';
@import '../../assets/css/icon.css';
@import '../../assets/css/sidebar.css';

.display-options-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}