@import '../../assets/css/currency.css';

.inventory-price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.25rem;
}

.inventory-price-details {
  font-size: 0.85rem;
  padding-right: 0.25rem;
}

.inventory-price-with-details:hover {
  color: var(--primary-color);
  border-radius: 3px;
  cursor: pointer;
}

.inventory-price-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}

.inventory-price-list-price {
  margin-right: 0.5rem;
}

.inventory-price-list-price:last-child {
  margin-right: 0;
}

.inventory-price-missing-price-icon {
  align-items: center;
  color: var(--error-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-right: auto;
  padding-right: 0.5rem;
}