@import '../../css/currency.css';

.inventory-price {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.inventory-price-details {
  font-size: 0.85rem;
  padding-right: 0.25rem;
}

.inventory-price-with-details:hover {
  border-radius: 3px;
  color: var(--primary-color);
  cursor: pointer;
}

.inventory-price-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}

.inventory-price-list-price {
  margin-right: 0.5rem;
}

.inventory-price-list-price:last-child {
  margin-right: 0;
}

.inventory-price-missing-price-icon {
  align-items: center;
  color: var(--error-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}