.card {
  background-color: var(--surface-transparent-0) !important;
  border-color: var(--primary-color6);
  border-radius: 6px !important;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  width: 100%;
}

.card > .p-card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card > .p-card-body > .p-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.card-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: center;
}

.card-buttons > button {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-line {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  height: 1.25rem;
}

.card-line > span {
  white-space: nowrap;
}

.card-line3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.card-line4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-lines {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
}

.card-selected {
  background-color: var(--primary-color6) !important;
}

.card-value {
  text-wrap: nowrap;
  white-space: nowrap;
}