.flesh-damage {
  position: relative;
}

.flesh-damage-color {
  color: var(--error-color);
}

.flesh-damage-oneshot {
  bottom: 3px;
  left: 10px;
  position: absolute;
}

.flesh-damage-oneshot-icon {
  width: 0.5rem !important;
}