.sidebar-option {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  min-height: 3.25rem;
}

.sidebar-option:first-child {
  margin-top: 0;
}

.sidebar-option-description {
  align-items: center;
  color: var(--util-color7);
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.sidebar-option-description > span {
  font-size: 0.85rem;
  white-space: preserve;
}

.sidebar-option-clickable {
  cursor: pointer;
}

.sidebar-option-disabled {
  opacity: 50%;
}

.sidebar-option-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.5rem;
  width: 2rem;
}

.sidebar-option-prevent-click {
  pointer-events: none;
}

.sidebar-title {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3rem;
}

.sidebar-title-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  width: 2rem;
}

.sidebar-title:first-child {
  margin-top: 0;
}