.sidebar-option {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 3.25rem;
}

.sidebar-option-with-hover {
  align-items: center;
  display: flex;
  min-height: 3.25rem;
}

.sidebar-option-with-hover:hover {
  background: var(--util-color2);
  border-radius: 3px;
  cursor: pointer;
}

.sidebar-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
  margin-top: 3rem;
}

.sidebar-title-icon {
  margin-right: 0.5rem;
  width: 2rem;
}

.sidebar-title:first-child {
  margin-top: 0;
}