.sidebar-option {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  min-height: 3.25rem;
}

.sidebar-option-clickable {
  cursor: pointer;
}

.sidebar-option-disabled {
  color: var(--util-color5);
  filter: grayscale(100%);
  pointer-events: none;
}

.sidebar-option-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.5rem;
  width: 2rem;
}

.sidebar-title {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
  margin-top: 3rem;
}

.sidebar-title-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  width: 2rem;
}

.sidebar-title:first-child {
  margin-top: 0;
}