.stats-caption {
  align-items: center;
  display: flex;
  margin-right: 1rem;
  white-space: nowrap;
}

.stats-category {
  font-weight: bolder;
  margin-top: 1.5rem;
}

.stats-category:first-child {
  margin-top: 0;
}

.stats-entry {
  align-items: center;
  display: flex;
  height: 2rem;
  margin-top: 0.25rem;
}

.stats-line {
  display: grid;
  grid-column-gap: 5rem;
  grid-row-gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
}

.stats-value {
  margin-left: auto;
  text-align: right;
}

.stats-value-positive {
  color: var(--success-color);
}

.stats-value-negative {
  color: var(--error-color);
}

.stats-encumberment-heavy {
  color: rgb(197, 4, 4);
}

.stats-encumberment-light {
  color: rgb(234, 182, 52);
}

/* Smartphone in portrait */
@media only screen and (max-width: 480px) {
  .stats-line {
    grid-template-columns: 1fr;
  }
}

/* Smartphone in landscape */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .stats-line {
    grid-template-columns: 1fr;
  }
}

/* Tablet in portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .stats-line {
    grid-template-columns: 1fr;
  }
}

/* Tablet in landscape */
@media only screen and (min-width: 992px) and (max-width: 1299px) {
  .stats-line {
    grid-template-columns: 1fr;
  }
}

/* PC */
@media only screen and (min-width: 1300px) {}