.toolbar-button {
  height: 2.625rem;
}

.toolbar-button:last-child {
  margin-right: 0;
}

.toolbar-center {
  margin-left: auto;
  margin-right: auto;
}

.toolbar-part {
  align-items: center;
  display: flex;
  flex-direction: row;
}