@import '../../css/button.css';
@import '../../css/icon.css';
@import '../../css/sidebar.css';

.shopping-list-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.shopping-list-item {
  align-items: center;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 4.5rem 1fr 10rem;
  margin-bottom: 0.5rem;
}

.shopping-list-item:last-child {
  margin-bottom: 0;
}

.shopping-list-item-icon {
  display: flex;
  justify-content: center;
}

.shopping-list-item-price-per-unit {
  font-size: 0.75rem;
  margin-right: 2.35rem;
}

.shopping-list-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.shopping-list-item-price {
  margin-right: 0.5rem;
  /* For the merchant level to be fully displayed */
}