@import '../../css/icon.css';

.merchant-filter {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2rem 1fr 3rem 5rem;
  height: 3.5rem;
  margin-right: 1px;
  /* Needed otherwise there is a horizontal scroll bar for some reason*/
}

.merchant-filter:last-child {
  margin-bottom: 0;
}

.merchant-filter-disabled-text {
  color: var(--util-color5);
}

.merchant-filter-icon {
  border-color: var(--util-color);
  border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  width: 3rem;
}

.merchant-filter-icon-disabled {
  filter: grayscale(100%);
}

.merchant-filter-merchant {
  cursor: pointer;
}