@import '../../assets/css/button.css';
@import '../../assets/css/icon.css';

.builds-export-buttons {
  display: flex;
  width: 100%;
}

.builds-export-cancel-button {
  margin-left: auto !important;
  margin-right: 0 !important;
}
