@import '../../css/button.css';
@import '../../css/icon.css';

.builds-export-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.builds-export-cancel-button {
  margin-left: auto !important;
  margin-right: 0 !important;
}