.item-filter {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 3.5rem;
}

.item-filter:last-child {
  margin-bottom: 0;
}

.item-filter-disabled-text {
  color: var(--util-color5);
}

.item-filter-name {
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}